h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
}
h1 {
  color: rgb(50, 195, 203);
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}
h2 {
  font-size: 40px;
}

p {
  font-size: 22px;
  line-height: 1.5;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

li {
  font-size: 20px;
}

footer p {
  font-size: 16px;
}

/*article header p {
  font-style: italic;
}*/
#Author {
  font-style: italic;
}

.related-authors {
  font-size: 18px;
  font-weight: bold;
}

.remove {
  list-style: none;
}
.main {
  background-color: #f8f8f8;
}
aside {
  background-color: #f7f7f7;
  border: 5px solid #178697;
}
body {
  background-color: azure;
}
li:first-child {
  font-weight: bold;
}
li:last-child {
  font-style: italic;
}
li:nth-child(3) {
  /* color: #d30c0c;*/
}
a:link {
  color: #97177f;
  text-decoration: none;
}
